<% layout('layout/boilerplate') %> 
<main class="container">
    <h1>Name: <%= member.Name %></h1>
    <h3>PRN: <%= member.Prn %></h3>
    <h3>Year: <%= member.Year %> </h3>
    <h3>Marks: <%= member.Marks %></h3>
    <a href="/allforms">All Students</a>
